.article,
.open-article {
  width: 100%;
  min-height: 250px;
  padding: 8px;
  margin: 12px 0;
  border: 4px solid $black;
  color: $alabaster;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  border-radius: 12px;
  overflow: hidden;

  .open-article-image {
    width: 70%;
    margin: $center;
    border-radius: 4px;
  }

  .open-article-title,
  .open-article-description {
    color: $black;
  }
  a {
    text-decoration: none;
    color: $black;
  }

  &-title {
    font-size: 1.3em;
    text-align: center;
  }

  &-description {
    padding: 12px 0 8px 0px;
  }

  &-source,
  &-link {
    color: $black;
    font-size: 1.1em;
    padding: 12px 0 0 0;
  }

  &-link {
    font-weight: bold;
    z-index: 1;
  }

  .article-link__minimal {
    color: $green;
  }
  .article-link__left-leaning {
    color: $blue;
  }
  .article-link__right-leaning {
    color: $red;
  }
}

.article {
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;

  &-image {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0.8;
  }

  &-image__tall-image {
    width: 100%;
    height: 100%;
  }
}

.article-left-leaning {
  border: 4px solid $blue;
}
.article-right-leaning {
  border: 4px solid $red;
}

@include medium {
  .article,
  .open-article {
    width: 45%;
  }

  .article {
    height: 250px;
  }
}

@include large {
  .article,
  .open-article {
    width: 30%;
  }
}
