.header {
  width: 100vw;
  background-color: $black;
  color: $alabaster;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-main {
    padding: 16px 8px 16px 0;
    display: flex;
    justify-content: space-between;

    &__title {
      text-decoration: none;
      color: $alabaster;
      font-family: "Kreon", serif;
    }

    &__search {
      display: flex;
      align-items: center;

      &-icon {
        height: 24px;
      }
    }
  }

  &-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-bottom: 12px;

    &-link {
      text-decoration: none;
      color: $alabaster;
    }

    &-link:hover {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
