.home {
  width: calc(100vw - 32px);
  margin: $center;
  margin-bottom: 64px;

  &-page {
    &__title {
      margin: 24px 0;
      font-weight: bold;
      font-size: 2em;
    }

    &__quote {
      margin: 16px 0;

      &-content {
        margin-bottom: 12px;
        text-indent: 1em;
        font-weight: bold;
      }

      &-reference {
        margin-left: 16px;
        font-weight: bold;
      }
    }
  }

  &-about {
    margin: 32px 0;

    &__content {
      margin: 8px 0;
      text-indent: 1em;
    }
  }
}

@include medium {
  .home {
    width: calc(100vw - 48px);
    display: flex;
    justify-content: space-between;

    &-page {
      width: 25%;
      font-size: 1.2em;
    }

    &-about {
      width: 70%;
      font-size: 1.2em;
      padding: 64px 0;
    }
  }

  .home-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
}

@include large {
  .home {
    width: calc(100vw - 360px);
  }
}
