@include medium {
  .search-page {
    width: calc(100vw - 48x);
    margin: $center;

    .search {
      width: 25%;
      margin: 24px;
    }

    .search-status {
      width: 100%;
      text-align: center;
    }

    .search-results {
      width: calc(70vw - 48px);
      display: flex;
      flex-wrap: wrap;
      float: right;
      margin: 0 36px 0 0;
    }
  }
}

@include large {
  .search-page {
    width: calc(100vw - 360px);

    .search {
      margin-left: 0;
      padding-left: 0;

      .search-container {
        margin-left: 0;
      }
    }

    .search-results {
      width: 70%;
      margin-right: 0;
    }
  }
}
