.footer {
  background-color: $black;
  color: $alabaster;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 16px;

  &-text {
    font-weight: bold;

    &__link {
      text-decoration: none;
      color: $alabaster;
    }
  }
}

.home-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

@include medium {
  .footer {
    height: 60px;
    font-size: 1.2em;
    padding: 0 24px;
  }
}

@include large {
  .footer {
    padding: 0 180px;
  }
}
