.header {
  width: 100%;
  background-color: $black;
  color: $alabaster;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-main {
    padding: 16px 8px 16px 0;
    display: flex;
    justify-content: space-between;

    &__title {
      text-decoration: none;
      color: $alabaster;
      font-family: "Kreon", serif;
    }

    &__search {
      display: flex;
      align-items: center;

      &-icon {
        height: 24px;
      }
    }
  }

  &-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-bottom: 12px;

    &-link {
      text-decoration: none;
      color: $alabaster;
    }

    &-link:hover {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

@include medium {
  .header {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &-main {
      width: calc(100vw - 48px);
      margin: $center;
    }

    &-nav {
      width: 70%;
      padding-right: 24px;
      padding-left: 12px;
      justify-content: space-between;
      margin-bottom: 16px;
      font-weight: bold;
    }
  }
}

@include large {
  .header {
    &-main {
      width: calc(100vw - 360px);
    }

    &-nav {
      width: 52.7%;
      margin-right: 180px;
      padding-right: 12px;
    }
  }
}
