//*GLobal Styles
$center: 0 auto;

//*Colors
$red: #a30000;
$blue: #1f487e;
$green: #3a4d3f;
$black: #202020;
$alabaster: #fdfffc;

//*Breakpoints
@mixin medium {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}
//*Fonts
