* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  width: 100vw;
  background-color: #fafaf8;
  color: #3e3d3c;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-title {
  padding: 12px 0;
}

.header-button {
  height: 36px;
  font-size: 24px;
  margin: 12px 6px;
  background-color: unset;
  border: unset;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header-nav {
  margin: 12px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-nav__button {
  height: 36px;
  font-size: 24px;
  background-color: unset;
  border: unset;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header-nav__list {
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-nav__list-link {
  text-decoration: none;
  color: #3e3d3c;
}

.main-page {
  width: calc(100vw - 32px);
  margin: 0 auto;
  margin-top: 24px;
}

.article {
  width: 100%;
  padding: 8px;
  margin: 12px 0;
  border: 2px solid #3a4d3f;
  background-color: #fafaf8;
  color: #3e3d3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.article a {
  text-decoration: none;
  color: #3e3d3c;
}

.article-title {
  font-size: 1.3em;
  text-align: center;
}

.article-description {
  padding: 12px 0 8px 0px;
}

.article-source, .article-link {
  color: #3e3d3c;
  font-size: 1.1em;
  padding: 12px 0 0 0;
}

.article-link {
  font-weight: bold;
}

.article .article-link__minimal {
  color: #3a4d3f;
}

.article .article-link__left-leaning {
  color: #1f487e;
}

.article .article-link__right-leaning {
  color: #a30000;
}

.article-button {
  margin: 8px 8px 4px;
  border: unset;
  color: #fafaf8;
  padding: 4px 12px;
  border-radius: 6px;
}

.article .button-minimal {
  background-color: #3a4d3f;
}

.article .button-left-leaning {
  background-color: #1f487e;
}

.article .button-right-leaning {
  background-color: #a30000;
}

.counter {
  width: 70%;
  padding: 16px 0 24px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.counter-button {
  font-size: 24px;
  font-weight: bold;
  color: #3a4d3f;
  padding: 4px;
  background-color: #fafaf8;
  border: 2px solid #3a4d3f;
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */