* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto Condensed", sans-serif;
}

@import "./partials/_vairables.scss";
@import "./partials/_header.scss";
@import "./partials/_article-section.scss";
@import "./partials/_article-cards.scss";
@import "./partials/page-counter";
@import "./partials/search-bar";
@import "./partials/homepage";
