* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  width: 100vw;
  background-color: #fafaf8;
  color: #3e3d3c;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-main {
  padding: 16px 8px 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-main__title {
  text-decoration: none;
  color: #3e3d3c;
}

.header-main__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 12px;
}

.header-nav-link {
  text-decoration: none;
  color: #3e3d3c;
}

.header-nav-link:hover {
  text-decoration: underline;
  font-weight: bold;
}

.main-page {
  width: calc(100vw - 32px);
  margin: 0 auto;
  margin-top: 24px;
}

.article,
.open-article {
  width: 100%;
  min-height: 250px;
  padding: 8px;
  margin: 12px 0;
  border: 4px solid #3a4d3f;
  color: #fafaf8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.article .open-article-image,
.open-article .open-article-image {
  width: 70%;
  margin: 0 auto;
  border-radius: 4px;
}

.article .open-article-title,
.article .open-article-description,
.open-article .open-article-title,
.open-article .open-article-description {
  color: #3e3d3c;
}

.article a,
.open-article a {
  text-decoration: none;
  color: #3e3d3c;
}

.article-title,
.open-article-title {
  font-size: 1.3em;
  text-align: center;
}

.article-description,
.open-article-description {
  padding: 12px 0 8px 0px;
}

.article-source, .article-link,
.open-article-source,
.open-article-link {
  color: #3e3d3c;
  font-size: 1.1em;
  padding: 12px 0 0 0;
}

.article-link,
.open-article-link {
  font-weight: bold;
  z-index: 1;
}

.article .article-link__minimal,
.open-article .article-link__minimal {
  color: #3a4d3f;
}

.article .article-link__left-leaning,
.open-article .article-link__left-leaning {
  color: #1f487e;
}

.article .article-link__right-leaning,
.open-article .article-link__right-leaning {
  color: #a30000;
}

.article {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article-image {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  opacity: 0.8;
}

.article-image__tall-image {
  width: 100%;
  height: 100%;
}

.article-left-leaning {
  border: 4px solid #1f487e;
}

.article-right-leaning {
  border: 4px solid #a30000;
}

.counter {
  width: 70%;
  padding: 16px 0 24px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.counter-button {
  font-size: 24px;
  font-weight: bold;
  color: #3a4d3f;
  padding: 4px;
  background-color: #fafaf8;
  border: 2px solid #3a4d3f;
  border-radius: 4px;
}

.search {
  width: calc(100vw - 32px);
  margin: 0 auto;
  padding: 12px;
}

.search-container {
  width: 80%;
  height: 48px;
  margin: 0 auto;
  background-color: #fafaf8;
  border: 1px solid #3e3d3c;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.search-container__icon {
  height: 20px;
  padding: 0 16px;
}

.search-container__input {
  width: 200px;
  border: none;
  background-color: #fafaf8;
  height: 46px;
}

.search-container-input::-webkit-input-placeholder {
  color: #3e3d3c;
}

.search-container-input:-ms-input-placeholder {
  color: #3e3d3c;
}

.search-container-input::-ms-input-placeholder {
  color: #3e3d3c;
}

.search-container-input::placeholder {
  color: #3e3d3c;
}
/*# sourceMappingURL=main.css.map */